body {
	background-image: url(backgroundimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	text-align: center;
}

.heading {
	width: 400px;
	height: 100px;
	margin:50px auto;
	position: relative;
	background-color: rgb(300, 300, 300, 0.5);
	border-radius: 10px;
}

h1 {
	position: relative;
	padding-top: 25px;
	font-family: "Lobster";
	font-weight: lighter;
	opacity: 2;
}

.clockFace {
	position: relative;
	margin:50px auto;
	height: 300px;
	width: 300px;
	border: solid;
	border-radius: 300px;
	background-color: white;
	opacity: 1;

}

.hand{
	/*width:50%; */
	height:6px;
	background:black;
	position: absolute;
	top:50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0, 1.2, 1, 1);
	transition: all 0.05s;
}

.hour-hand {
	width: 25%;
	margin-left: 25%;

}
.minute-hand {
	width: 35%;
	margin-left: 15%
}
.second-hand {
	width: 50%;
}





